html, body {
    height: 100%;
}

body {
    text-align: center;
    font-family: Courier;
    margin: 0px;
    background: #999;
}

#container {
    border: 1px solid #ddd;
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    color: #333;
    overflow: hidden;
}

div#post {
    padding: 1em;
    background: white;
    /* min-height: 100%; */
}

div.content-card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #333;
    border: 1px solid #ddd;
    border-left: 3px solid #4d4d4d;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(201, 201, 201, 1);

}
div.content-card > h1.title {
    font-size: 18px;
    margin: 5px;
}
div.content-card > p.content {
    font-size: 18px;
    margin: 5px;
}
div.content-card > * {
    z-index: 2;
}
div.content-card > div.hov-bck {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: aliceblue;
    transition: width 0.2s linear;
}
div.content-card:hover > div.hov-bck {
    width: 100%
}
div.content-card + div.content-card {
    margin-top: 10px;
}

div.content-card.violet {
    border-left-color: #c19aff;
}
div.content-card.violet > div.hov-bck {
    background-color: #f4edff;
}
div.content-card.red {
    border-left-color: #ff9a9a;
}
div.content-card.red > div.hov-bck {
    background-color: #ffeded;
}
div.content-card.green {
    border-left-color: #86e59b;
}
div.content-card.green > div.hov-bck {
    background-color: #eafff0;
}
div.content-card.yellow {
    border-left-color: #ffe631;
}
div.content-card.yellow > div.hov-bck {
    background-color: #fff7bd;
}

div#cabecera {
    display: flex;
    align-items: baseline;
    column-gap: 40px;
    flex-wrap: wrap;
    margin: 0;
    color: white;
    background: #4d4d4d;
    padding: 10px 20px;
    font-size: 17px;
    box-shadow: 0px 2px 5px 0px rgba(170, 170, 170, 1);
}
div#cabecera > div:first-child {
    font-weight: 700;
}
div#cabecera > div:last-child {
    font-size: 70%;
}

div#footer {
    display: flex;
    align-items: baseline;
    column-gap: 40px;
    flex-wrap: wrap;
    margin: 0;
    color: white;
    background: #4d4d4d;
    padding: 10px 20px;
    font-size: 17px;
    box-shadow: 0px -2px 5px 0px rgba(170, 170, 170, 1);
}
div#footer > small {
    color: limegreen;
}